@import "tailwindcss";


@layer base {
  body.loading {
    cursor: none;
  }

  body:not(.loading) {
    cursor: default;
  }
}

/* Fonts (safe) */
@layer utilities {
  .font-heading { font-family: 'Bebas Neue', cursive; }
  .font-fancy { font-family: 'Dancing Script', cursive; }
  .font-display { font-family: 'Pacifico', cursive; }
  .font-robot { font-family: 'Plus Jakarta Sans' , sans-serif ;}
}

body:not(.loading) {
  cursor: default;
}

/* REQUIRED FOR LENIS */
html, body {
  height: 100%;
}

/* OPTIONAL: hide scrollbar (SAFE) */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html {
  scrollbar-width: none; /* Firefox */
}

body.loading {
  cursor: none;
}